<h1>EVENEMENTS</h1>
<div class="container">
  <%= form_for(@event, url: trainingtype_events_path, method: :post) do |f| %>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 mb-100">
      
        <%= f.text_field :starts_at %>
        <%= f.text_field :ends_at, input_html: { class: "datepicker" } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 select">
        <div class="form-group">
          
            <%= f.select :type, Event::TYPES %>
        </div>
      </div>
    </div>
      <%= f.submit %>
    <% end %>
   </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#event_starts_at').datepicker({
      dateFormat: 'd-M-y'
    });
  });
</script>

